@font-face {
    font-family: "poppins-extraBold"; 
    src:
      local("Font Name"), 
      url("./fonts/Poppins-ExtraBold.woff2") format("woff2");

   

  }
  @font-face {
    font-family: "poppins-semi"; 
    src:
      local("Font Name"), 
      url("./fonts/Poppins-SemiBold.woff2") format("woff2");

   

  }
  
@font-face {
  
  font-family: "glac-reg"; 
  src:
    local("glac-reg"), 
    url("./fonts/GlacialIndifference-Regular.ttf") format("trueType");
}

@font-face {
  
  font-family: "montserrat-bold"; 
  src:
    local("montserrat-bold"), 
    url("./fonts/Montserrat-Bold.ttf") format("woff2"); 
 
 
}



@font-face {
  
  font-family: "glac-bold"; 
  src:
    local("glac-bold"), 
    url("./fonts/GlacialIndifference-Bold.woff2") format("woff2"); 
 
 
}

@font-face {
  
  font-family: "muli-reg"; 
  src:
    local("muli-reg"), 
    url("./fonts/Muli-Regular.ttf") format("ttf");
 
 
}

@font-face {
  
  font-family: "muli"; 
  src:
    local("muli"), 
    url("./fonts/Muli.woff2") format("woff2"); 
 
 
}
@font-face {
  
  font-family: "muli-light"; 
  src:
    local("muli"), 
    url("./fonts/Muli-Light.woff2") format("woff2"); 
 
 
}
@font-face {
  
  font-family: "roboto-light"; 
  src:
    local("roboto-light"), 
    url("./fonts/Roboto-Light.woff2") format("woff2"); 
 
 
}
@font-face {
  
  font-family: "roboto-regular"; 
  src:
    local("roboto-regular"), 
    url("./fonts/Roboto-Regular.woff") format("woff"); 
 
 
}