@import "fonts.css";
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1920px;
  overflow-x: hidden;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.swiper {
  width: 100%;
  height: 300px;
  background: #dddddd 0% 0% no-repeat padding-box;
  height: 100vh;
}
.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100vh;
  position: relative;
}
.swiper-logo-wrapper {
  margin: 2rem 3rem;
  display: inline-block;
}
.swiper-logo-wrapper p ,footer h2{
  margin: 0;
  padding: 0;
  font-family: "poppins-extraBold", sans-serif;
}
.swiper-logo-wrapper > p:first-child {
  font-weight: bolder;
  font-size: 40px;
}
.swiper-logo-wrapper > p:last-child {
  margin-top: -0.8rem;
  font-size: 13px;
  color: #b3b3b3;
}
.swiper-logo-wrapper span,footer span {
  color: #0081ff;
}
.swiper-page-mark {
  font-size: 158.3px;

  position: relative;
  width: 300px;
  font-family: "poppins-extraBold", sans-serif;
}

.swiper-page-mark p {
  white-space: nowrap;
  position: absolute;
  font-size: 43.17px;
  color: rgb(56, 52, 52);
  top: 15%;
  left: -10%;
}
.swiper-info-wrapper {
  width: 582.07px;
  font-family: "glac-reg", sans-serif;
}
.photo-info-wrapper {
  display: flex;
  justify-content: space-around;
}
.swiper-info-wrapper h2 {
  font-size: 49.7px;
  font-weight: normal;
  margin: 0.5rem 0;
  color: #212121;
}
.swiper-info-wrapper h1 {
  font-size: 71px;
  font-weight: normal;
  margin: 0.5rem 0;
}
.swiper-info-wrapper p {
  font-size: 23.29px;
  margin: 0.5rem 0;
  color: #212121;
}
.swiper-socials {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}
.swiper-socials img:hover {
  scale: 1.4;
}
.swiper-socials img {
  margin: 0 0.5rem;
}
.swiper-subscribe {
  position: absolute;
  bottom: 10%;
  left: calc(100% - 400px);
  width: 360px;
  font-family: "montserrat-bold", sans-serif;
}
.swiper-subscribe div {
  width: 100%;
  border: 3px solid #e93656;
  border-radius: 8px;
}
.swiper-subscribe span {
  color: #e93656;
}
.swiper-subscribe p {
  color: #212121;
  font-size: 24px;
}
.swiper-page-mark p {
  letter-spacing: 0.3rem;
}
.my-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: red;
}
.about-section {
  width: 100%;
}
.about-section-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 334px;
  margin-right: 65px;
  justify-content: space-between;
  height: 370px;
}
.about-section-info h2 {
  font-family: "glac-bold", sans-serif;
  font-size: 40px;
  color: #222222;
  padding: 0;
  margin-bottom: 0;
}
.about-section-info p {
  font-size: 14px;
  color: #daae19;
}
.about-section-info .about-text {
  font-family: "muli-reg", sans-serif;
  width: 100%;
  color: #555555;
  text-align: justify;
}
.about-section-image {
  max-width: 430px;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
}
.about-section-part-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 135px 0;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
}
.hire-me-button {
  background-color: #e93656;
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-family: "glac-bold", sans-serif;
}
.about-section-graphs {
  width: 300px;
  margin-left: 3rem;
}
progress {
  width: 100%;
  border: none;
  border-radius: 8px;
  margin: 1rem 0;
  height: 9px;
}
.progress-wrapper {
  width: 100%;
}
progress::-webkit-progress-value {
  background-color: red; 
  border-radius: 18px;
}
progress::-webkit-progress-bar {
  background-color: #f1f1f1; 
  border-radius: 18px;
}
button {
  cursor: pointer;
}
.progress-wrapper label {
  font-family: "glac-bold", sans-serif;
  font-size: 20px;
  color: #555555;
}
.progress-span {
  color: #e93656;
}
.progress-items {
  display: flex;
  width: 100%;
  gap: 20px;
}
.progress-item {
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.progress-item:hover {
  background-color: #15263e;
  color: white;
}
.about-section-part-2 {
  height: 210px;
  display: flex;
  background-color: #131a36;
  justify-content: center;
  align-items: center;
}
.about-section-part-2 img {
  width: 30px;
  height: 30px;
  margin: 1rem;
}
.cc-image-wrapper {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 2px dashed white;
  width: 90px;
  height: 90px;
  margin: 1rem;
  transition: 0.3s;
}
.cc-image-wrapper:hover {
  background-color: #e93656;
  cursor: pointer;
  border: 2px solid transparent;
}
.contacts-container {
  display: flex;
  align-items: center;
}
.contacts-container h3 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: "glac-bold", sans-serif;
  color: #ffffff;
}

.contacts-container p {
  color: #dfdfdf;
  margin: 0;
  font-family: "muli", sans-serif;
  font-size: 14px;
}
.services {
  width: 100%;
  max-width: 1920px;
  padding: 10% 20%;
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(2, 360px);
  gap: 1rem;
  justify-content: center;
}
.service-wrapper {
  width: 285px;
  height: 360px;
  background-color: #fafafa;
  transition: 0.3s;
}
.service-wrapper h3 {
  font-family: "glac-bold", sans-serif;
}
.service-wrapper p {
  font-family: "muli-light", sans-serif;
}
.service {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.service-description {
  background-color: #15263e;
  margin-top: -360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.service-description h3 {
  color: white;
  text-align: center;
}
.service-description p {
  color: #ececec;
  text-align: center;
}
.service-wrapper:hover .service {
  opacity: 0;
}
.service-wrapper:hover .service-description {
  opacity: 1;
}
.recc-swiper {
  background-image: url(./images/clip.jpg);
  width: 100%;
  position: relative;
  max-width: 1920px;
  height: 570px;
  overflow: hidden;
}
.recc-swiper p {
  max-width: 500px;
  color: #ffffff;
  font-family: "roboto-light", sans-serif;
}
.recc-swiper img {
  width: 180px;
  height: 180px;
  padding: 1rem;
  border: 2px dashed white;
  border-radius: 50%;
}
.recc-swiper span {
  color: #e93656;
  font-family: "roboto-regular", sans-serif;
}
.recc-swiper h2 {
  color: white;
  font-family: "glac-reg";
}
.recc-swiper-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recc-swiper-inner-container svg {
  margin-bottom: 2rem;
}
.reccommendation-swiper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#recc-swiper {
  position: relative;
}
.swiper-paginationa {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  gap: 2rem;
  left: 90% !important;
  /* justify-content: right !important; */
  /* top: -100px !important; */
  flex-direction: column;
  z-index: 900;
  margin-right: 50px;
}
.red{
  color: red;
  border-color: red;
}


.swiper-paginationa span {
  scale: 3;
  border: 1px solid white !important;
  border-radius: 0;
  color: transparent;
  display: block;
  margin-left: auto;
  
}

.swiper-pagination-bullets-active span{
  border-color: black !important;
}
#html-bar {
  transition: 0.3s;
}
.lp {
  text-align: center;
  margin-top: 3rem;
  font-size: 70px;
  font-family: "glac-bold", sans-serif;
}
.latest-projects {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  height: fit-content;
}
.latest-projects nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 240px;
  height: 400px;
  background-color: #15263e;
  color: white;
  padding: 2rem;
}

.latest-projects li {
  list-style-type: none;
  margin: 0.5rem;
  font-size: 20px;
  cursor: pointer;
  font-family: "glac-bold", sans-serif;
  text-transform: capitalize;
}
.latest-projects li:hover {
  color: #e93656 !important;
}

.projects {
  width: 900px;
  height: 700px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 350px);
}
.projects .project:nth-child(odd) {
  background-color: #8f8989;
}
.projects .project:nth-child(even) {
  background-color: #5e5656;
}
.project {
  width: 300px;
  height: 350px;
  color: white;
  background-image: url("https://lili.co/wp-content/uploads/2022/03/Graphic-Design-Business.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: center;
  font-family: "glac-bold", sans-serif;
  border: 2px solid silver;
}
.project:nth-child(odd) {
  background-image: url("https://unblast.com/wp-content/uploads/2020/05/Graphic-Design-Vector-Illustration.jpg");
}
.project:hover .project-inner-wrapper {
  opacity: 1;
  background-color: black;
}
.project-inner-wrapper {
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  border: 1px solid gray;
}
.project p {
  color: #dddddd;
  font-family: "muli", sans-serif;
}
.project svg {
  margin: 1rem;
  scale: 2;
}
.project-svg-wrapper {
  outline: 2px solid #e93656;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.opacity-0 {
  opacity: 0;
}
.red {
  color: #e93656;
}
.white {
  color: white;
}

.latest-articles {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  /* height: auto; */
}
.latest-articles > *:nth-child(even) {
  flex-direction: row-reverse;
}
.article {
  display: flex;
  width: 90%;
  height: auto;
}
.article-content {
  background-color: #fafafa;
  font-family: "muli", sans-serif;
  width: 45%;
  display: flex;
  height: 500px;
  padding-top: 3rem;
  height: auto;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 2rem;
}
.latest-articles > *:nth-child(odd) {
  align-self: flex-end;
}
.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5rem;
}
.title p,
.title span {
  text-align: center;
  font-family: "glac-bold", sans-serif;
  padding: 0;
  margin: 0;
}
.title span {
  font-size: 70px;
  color: #2e2e2e;
}
.title p {
  color: #2ed279;
  font-size: 13px;
}
.article-content h2 {
  font-family: "glac-bold", sans-serif;
  font-size: 40px;
  color: #161616;
}
.article-content span {
  font-size: 14px;
  color: #888888;
}

.article-content p {
  max-width: 75%;
  color: #494949;
  padding-bottom: 5rem;
}
.article-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.3%;
  background-color: #15263e;
}

.article-blank {
  width: 48%;
  background-image: url("https://www.forbes.com/advisor/wp-content/uploads/2023/06/graphic-designer-desk.jpeg-1.jpg");
  background-size: cover;
  background-color: #e1e0dc;
}
.article-date p {
  font-size: 30px;
  color: #e93656;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-family: "glac-bold", sans-serif;
}
.rosa-team {
  display: flex;
  gap: 110px;
  justify-content: center;
  margin: 5rem 0;
}
.parthner:nth-child(odd) {
  background-image: url("https://static.vecteezy.com/system/resources/previews/019/136/302/original/adidas-logo-adidas-icon-free-free-vector.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.parthner:last-child {
  background-image: url("https://1000logos.net/wp-content/uploads/2018/02/Logo-Tesla.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.parthner:nth-child(2) {
  background-image: url("https://static.standard.co.uk/2022/09/19/11/newFile-2.jpg?width=1200");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.parthner:nth-child(3) {
  background-image: url("https://logowik.com/content/uploads/images/meta-black-wordmark9054.logowik.com.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.parthner {
  position: relative;
  width: 110px;
  height: 110px;
  cursor: pointer;
  background-color: #15263e;
  transition: 0.3s;
  background-image: url("https://media.designrush.com/inspiration_images/134805/conversions/_1512076803_93_Nike-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.parthner div {
  position: absolute;
  cursor: pointer;
  top: -2rem;
  display: none;
  border: 3px solid #e93656;
  transition: 0.3s;
  opacity: 1;
}
.parthner div h3 {
  padding: 0;
  margin: 0;
}
.parthner:hover {
  background-color: unset;
  background-image: unset;
}
.parthner:hover > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-left: -50px;
  text-align: center;
}
.parthner div h3 {
  font-family: "poppins-semi";
  font-size: 16px;
  color: #161616;
}
.parthner div p {
  font-family: "roboto-light";
  color: #626262;
  font-size: 13px;
}
.form-container {
  width: 100%;
  height: 560px;
  background-image: url("./images/map.jpg");
  background-size: cover;
  background-blend-mode: hue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container input {
  height: 50px;
}
textarea {
  height: 100px;
}
.form-container input::placeholder,
textarea::placeholder {
  padding-left: 1rem;
  padding-top: 1rem;
  position: relative;
}

.bd-filter {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container h2 {
  font-family: "jako", sans-serif;
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 0;
}

.form-container p {
  color: #eeeeee;
  font-size: 17px;
  font-family: "roboto-light", sans-serif;
  margin-bottom: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form button {
  margin-top: 2rem;
  width: 180px;
  height: 50px;
  border: 2px solid #e93656;
  color: #e93656;
  background-color: transparent;
  font-family: "glac-bold", sans-serif;
  font-size: 12px;
}
.form-div {
  position: relative;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(3, minmax(auto, 290px));
}
textarea {
  grid-column: 1/-1;
}

#fb-message {
  position: absolute;
  top: 20%;
  z-index: 900;
  color: Green;
  font-family: "glac-bold";
  background-color: silver;
  border: 3px solid green;
  padding: 50px;
  display: none;
  text-align: center;
  width: 80%;
}
footer{
  padding-top: 5rem;
  background-color: #282828;
  height:500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.icons{
  display: flex;
  gap: 1.2rem;
  margin-top: 3rem;
}
.rights{
  height: 80px;
  width: 100%;
  background-color: #171717;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rights span{
  color: #FFFFFF;
  cursor: pointer;
}
.rights span:hover{
  color: #00BEC5;
}
.rights p{
  color: #A0A8B7;
  font-size: 15px;
  font-family: "muli",sans-serif;
}
.custom-icons{
  color: #00BEC5;
  width: 10.5px;
  height: 20px;
  cursor: pointer;
}
.custom-icons:hover{
  color:#E93656 ;
}
footer span{
  color: #E93656
}
footer h2{
  font-size: 55px;
  color: white;
  
}
.footer-ipsum{
  font-family: "roboto-regular";
  width: 600px;
  font-size: 17px;
  color: #A5A5A5;
}

@media (max-width: 750px) {
  .swiper-paginationa{
    left: 80% !important;
  }
  .article-content span {
    margin-top: 2rem;
  }
  .project{
    width: 90vw;
  }
  
  .service-wrapper{
    background-color: silver;
    box-sizing: content-box;
    border: 5px solid rgb(100, 29, 29);

  }
 
  .rights{
    padding: 1rem;
  }
  .icons{
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .custom-icons{
    scale: 1.5;
  }
  .footer-ipsum{
    width: 80%;
  }
  .form-container {
    height: 650px;
  }
  .form-div {
    grid-template-columns: auto;
  }
  .form-container input {
    width: 90vw;
  }
  .form-container p {
    text-align: center;
  }
  #fb-message {
    font-size: 26px;
  }
  .rosa-team {
    flex-wrap: wrap;
    align-items: center;
    gap: 3.8rem;
  }

  .latest-articles > *:nth-child(even) {
    flex-direction: column;
  }
  .title span {
    font-size: 40px;
    margin-top: 2rem;
  }
  .article-blank {
    display: none;
  }
  .article-date p {
    writing-mode: unset;
    transform: unset;
  }
  .article-date {
    /* display: none; */
    width: auto;
  }
  .article {
    flex-direction: column;
  }
  .latest-articles > *:nth-child(odd) {
    flex-direction: column;
  }

  .latest-projects nav {
    display: none;
  }
  .projects {
    grid-template-columns: auto;
    justify-content: center;
    gap: 1rem;
  }
  .recc-swiper p {
    width: 85%;
    text-align: right;
  }
  .reccommendation-swiper {
    flex-direction: column;
  }
  .projects {
    height: auto;
  }
  .article-content {
    height: unset;
    width: 100%;
    /* margin: 0.5rem 0; */
    padding: 1rem;
  }
  
  .services {
    grid-template-columns: repeat(1, 285px);
   
  }
  .about-section-part-2 {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
  }
  .progress-items {
    margin-top: 2rem;
    justify-content: space-between;
  }
  .about-section-image {
    width: 99vw;
  }
  .about-section-part-1 {
    flex-direction: column;
    margin: 4rem 0;
  }
  .about-section-info {
    margin-right: unset;
    margin-bottom: 2rem;
  }
  .about-section-graphs {
    margin-top: 3rem;
    margin-left: 0;
  }
  .swiper-info-wrapper h1 {
    width: 80%;
    text-align: center;
  }
  .photo-info-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .my-photo {
    width: 200px;
    height: 200px;
  }
  .swiper-subscribe {
    position: static;
    margin: 0 auto;

    width: 360px;
    top: calc(90% - 30px);
    left: calc(50% - 180px);
    text-align: center;
  }
  .d-flex {
    align-items: center;
  }

  .swiper-page-mark p {
    letter-spacing: unset;
    font-size: 16px;
    top: 10%;
    left: -30%;
  }
  .swiper-page-mark {
    font-size: 3rem;
    width: 2.5rem;
    margin-right: 10%;
  }
  .swiper-info-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-right: 0;
  }
  .swiper-socials {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  .swiper-socials img {
    scale: unset;
    padding: 0.4rem;
  }
  .swiper-info-wrapper h2 {
    font-size: 30px;
  }
  .swiper-info-wrapper h1 {
    font-size: 40px;
  }
  .swiper-info-wrapper p {
    font-size: 20px;
  }
}
